<style>
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #FAFAFA;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .search-container {
	border: 1px solid #FAFAFA;
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
	
		.boundary{
			margin: 0 auto;
		}

		.header{
			margin-bottom: 0;
		}
		.menu>ul, .navigator>ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.navigator a{
			text-decoration: none;
			font-size: 20px;
			color:#790A0A;
			padding: 10px;
			line-height: 50px;
		}		
		.navigator{
			border: 1px solid  #FAFAFA;
			height: 2%;
		}
		.navigator li{
			display: inline-block;
		}
		.navigator a:hover{
			background-color: #8092C1;
			color:#898E41;
		}
		.menu{
			margin-top: 10px;
			padding: 0;
		}
		.menu a{
			text-decoration: none;
			font-size: 15px;
			padding: 10px;
			display: block;
		}
		.menu a:hover{
			background-color: #8092C1;
			color:#898E41;
			display: block;
		}

		.content{
			border: 1px solid  #FAFAFA;
			clear: both;
			overflow: hidden;
		}
		.main{
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: white;
		}
		.footer{
			clear: both;
		}
	</style>